<style>
    .aboutUs{
        text-align: center; 
        margin-top: 100px; 
        margin-bottom: 20px; 
        font-size: 44px; 
        font-family: Roboto-Light;
        font-weight:600;
        color:#58627c;
    }
    .rowabout{        
        margin-top: 50px;
        margin-bottom: 50px; 
    }
    .rowaboutimg{
        margin-top: 100px;
        margin-bottom: 100px; 
    }
    .parentGroup{
        display: flex;
        align-items: center; 
    }
    .groupIcons{
        display: flex;
        align-items: center; 
        margin-bottom: 10px;
    }
    .iconimg img{
        width: 100%;
    }
    .contentIcons p{
        font-size: 18px;
        font-family: Roboto-Light;
        display: table-cell; 
        vertical-align: middle; 
        color:#58627c;
    }
    .Content1{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .rowContent{
        text-align: center;
    }
    .rowContent p{
        font-size: 20px;
        font-family: Roboto-Regular;
        color:#58627c;
    }
    .contentimg{
        padding-left: 50px;
    }
</style>

<div class="tm_builder_inner_content tm_pb_gutters3">  
    <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
        <div class="container contentabout">
            @*paragrap 1*@
            <div class="aboutUs">
                <p>ABOUT <span style="font-weight:bold; font-family:Roboto-Medium">US</span></p> 
            </div>
            <div class="form-group rowContent Content1">
                <p>
                    POinS CRM is a digital wallet, marketing and lifestyle application that serves as a platform
                    for small-medium merchants across all industries to provide more convenience, better
                    service and added value to their customers. This solution promises to bring an affordable
                    and complete iOS-based CRM system that is fully integrated with an
                    end-consumer iOS/Android app to SMB merchants; enabling SMB merchants to have a
                    mobile platform to connect with their consumers.
                </p>
            </div>
            <div class="form-group rowContent" style="margin-top: 70px; ">
                <div>
                    <p>POinS Wallet is an iOS and Android mobile app that enables end-consumers to connect with their favorite merchants and perform a range of functions such as:</p>
                </div>
            </div>           
        </div>
    </div>     
</div>

<div class="tm_builder_inner_content tm_pb_gutters3 rowabout rowaboutimg"style="background-image: url(/Images/bgabout.png); ">
    <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
        <div class="container">
            <div class="contentimg">
                @*paragrap 2*@
                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img src="~/Images/icons/id-card.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>E-membership cards</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/reserved.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Reservations/bookings of services</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/business-card.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>E-stored-value cards</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/calendar.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Virtual Queue and appointment management</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/discount-on-payment.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>E-promotion discount vouchers</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/cash-register.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Purchase history and e-receipts</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/megaphone.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Marketing and promotion events & notifications</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/box.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Online purchase, delivery and e-payments</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/info.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Merchant info page and social media link</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/optimization.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Loyalty and rewards management</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<div class="tm_builder_inner_content tm_pb_gutters3 rowabout">
    <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
        <div class="container">
            <div class="form-group rowContent Content1">
                <p>
                    POinS Link is iOS application that enables merchants to access and manage
                    their POinS CRM system, regardless of the POS system used. This is also the app interface
                    for the merchants to interact with the POinS Wallet consumer app. Merchants use POinS
                    Link to independently manage the following areas:
                </p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<div class="tm_builder_inner_content tm_pb_gutters3 rowabout rowaboutimg">
    <div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
        <div class="container">
            <div class="contentimg">
                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img src="~/Images/icons/newspaper.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Customer details and membership lists</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/cash-register.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>POS and payment gateway integrations</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/id-card.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Membership and loyalty reward programs</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/box.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>E-commerce and delivery</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/discount-on-payment.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Promotions, vouchers and discount programs</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/optimization.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Queue management system and procedures (Coming soon)</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/business-card.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Gift cards</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/calendar.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Marketing events and customer notifications</p>
                        </div>
                    </div>
                </div>

                <div class="row parentGroup">
                    <div class="col-md-6 col-sm-6 col-xs-12 groupIcons">
                        <div class="col-md-2 col-sm-2 col-xs-3 iconimg">
                            <img style="" src="~/Images/icons/info.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9 contentIcons">
                            <p>Reports and data analysis</p>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <img style="" src="~/Images/icons/optimization.png" alt="">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12 contentIcons">
                            <p>Loyalty and rewards management</p>
                        </div>
                    </div>*@
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
