

<div id="map" style="height:600px;background: #f0f0f5"></div>

<script>

    function myMap() {
        var myCenter = new google.maps.LatLng(1.311477, 103.856707);
        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: myCenter, zoom: 15 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({ position: myCenter });
        marker.setMap(map);

        // Zoom to 9 when clicking on marker
        google.maps.event.addListener(marker, 'click', function () {
            map.setZoom(9);
            map.setCenter(marker.getPosition());
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP7lOWnBaIkL7oNyX5uq3ihlogrO0mlts&callback=myMap"></script>

