


<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 row_contact_lg_1" style="background-color:white;box-shadow: 0px 2px 4px #888888;">
    <div class="form-horizontal" style="padding:25%">
        <div class="form-group"></div>
        <div class="form-group text-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center txt_submits">
                <p class="txt_submit" style="font-family: Roboto-Light;color:#999999;">YOUR FEEDBACK</p>
                <p class="txt_submit" style="font-weight:bold;font-family: Roboto-Light;color:Gray;">&nbsp;&nbsp;IS HIGHLY APPRECIATED!&nbsp;&nbsp;</p>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-warning btn-lg" style="color:white;background-color:#cc8800;font-family: Roboto-Light;" onclick="hideclssuccess()">Thank You</button>
            </div>
        </div>
    </div>
</div>
